<div class="container">
    <div class="row">
        <div class="col header-block">
            <div class="logo-block">
                <p><i class="bi bi-sign-turn-right-fill"></i> <span>Destination</span> </p>
            </div>
            <div class="nav-block">
                <nav class="nav">
                    <a class="nav-link active" title="About us" aria-current="page" href="#">About us</a>
                    <a class="nav-link" href="#" title="contact">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</div>