<div class="container-fluid">
  <div class="row">
    <div class="col-12 header">
      <!-- header -->
      <header>
        <h1>header</h1>
      </header>
      <!-- header -->
    </div>
    <div class="col-12 main">
      <!-- main -->
      <main>
        <p>main content come here</p>
      </main>
      <!-- main -->
    </div>
    <div class="col-12 footer">
      <!-- footer -->
      <footer>
        <p>foooter content come here</p>
      </footer>
      <!-- footer -->
    </div>
  </div>
</div>